* {
	margin: 0px;
	padding: 0px;
}

html {
	background: #f5f5f5;
}


/*#main_div{
	width: 1200px;
	
}*/

.logo_name {
	width: 1200px;
	height: 45px;
	margin: 0 auto;
	padding-top: 10px;
	margin-top: 40px;
	margin-bottom: 10px;
	background: white;
}

.logo_name span {
	line-height: 20px;
	margin-left: 13px;
	padding: 0 13px;
	border-left: 1px solid #e8e8e8;
	color: #343434;
	letter-spacing: 1px;
	font-size: 16px;
}

#address_div {
	width: 1200px;
	height: 450px;
	margin: 0px auto;
	background: white;
}

#address_word {
	padding-top: 10px;
	padding-left: 20px;
}

#selected_address {
	margin-top: 10px;
	margin-left: 370px;
}

#selcted_address1 {
	height: 40px;
	width: 300px;
	margin-left: 20px;
}

#selcted_address1 option {
	font: 16px/1.5 Microsoft YaHei, tahoma, arial;
}

#ensure_address {
	width: 100px;
	height: 30px;
	background: rgb(242, 242, 242);
	border-radius: 8px;
}

#add_address {
	margin-left: 368px;
	padding-top: 20px;
}

#username {
	height: 40px;
	width: 300px;
	margin-left: 35px;
}

#telephone {
	height: 40px;
	width: 300px;
	margin-left: 20px;
}

#city {
	height: 40px;
	width: 300px;
	margin-left: 20px;
}

#detail_address {
	height: 40px;
	width: 300px;
	margin-left: 20px;
}

#add_new {
	width: 110px;
	height: 30px;
	margin-left: 200px;
	background: rgb(242, 242, 242);
	border-radius: 8px;
}

#ensure_address:hover {
	cursor: pointer;
	background: rgb(221, 221, 221);
	filter: alpha(opacity=70);
	-moz-opacity: 0.7;
	-khtml-opacity: 0.7;
	opacity: 0.7;
}

#add_new:hover {
	cursor: pointer;
	background: rgb(221, 221, 221);
	filter: alpha(opacity=70);
	-moz-opacity: 0.7;
	-khtml-opacity: 0.7;
	opacity: 0.7;
}

#oder_submit {
	float: right;
	width: 392px;
	height: 240px;
	margin-right: 40px;
	margin-top: 40px;
}

#detail_bottom {
	width: 1200px;
	background: white;
	margin: 0 auto;
	margin-top: 10px;
}

.order_submit_address {
	background: #fef6f3;
	border: 1px solid #fbd4c4;
	padding: 7px 20px;
	max-width: 350px;
	text-align: left;
	font: 12px/1.5 Microsoft YaHei, tahoma, arial;
}

#submit_good {
	float: right;
	margin-top: 20px;
	text-align: center;
	background: #ca141d;
	color: #fff;
	width: 172px;
	height: 46px;
	line-height: 46px;
	font-size: 18px;
	border-radius: 2px;
	cursor: pointer;
	text-decoration: none;
}

#price {
	float: right;
	/*font-size: 30px;*/
	font-size: 24px;
    color: #DA3232;
    /*margin-right: 6px;*/
    font-weight: 600;
}
#middle_dindan{ 
    background: #fff;
    padding: 40px;
    width: 1122px;
    margin: 0 auto;
    margin-top: 20px;
    position: relative;
}
#middle_dindan_left{
	float: left;
    width: 719px;
    min-height: 405px;
    background: #fff;
    border: 1px solid #eaeaea;
    border-right: 0px;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px; 	
}
#middle_dindan_right{
	float: right;
    width: 319px;
   
    min-height: 405px;
    background: rgb(246,246,246);
    border: 1px solid #eaeaea;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;

}
.detail_price{
	float: right;
	position: absolute;
    right: 60px;
    bottom: 60px;
}
.detail_price ul li {
    margin-top: 5px;
    display: table;
    width: 100%;
    text-align: right;
}
.detail_price ul li span{
	display: inline-block;
	width: 106px;
	font:13px/1.2 "Helvetica Neue",Helvetica,Arial;
	
}
#list_main{
	padding-bottom: 20px;
	border-bottom: 1px solid #eaeaea;
}
#list_main ul li{
	float: left;
	font:12px/1.2 "Helvetica Neue",Helvetica,Arial;
	
	 
}
#other_information{
	font:13px/1.2 "Helvetica Neue",Helvetica,Arial;
}
