*{
	margin: 0;
	padding: 0;
	

}
a{
	text-decoration: none;

}
h2{
	font-size: 100%;
    font-weight: 400;
    color: #666;
}
.red{
	color: #ca141d!important;
}
.naver{
	font-size: 16px;
    /*color: #3a3a3a;*/
}

#shortcut{
	width: 100%;
	height: 30px;
	line-height: 30px
	text-align: center;
}
.layout{
	width: 1200px;
	height: 100%;
	margin: 0 auto;
}
#abox{
	
	width: 675px;
	height: 30px;
	float: left;
	
}
#abox li{
	margin-top: 7px;
	padding-left: 6px;
	padding-right: 6px;
	font-size: 13px;
	float: left;
	border-right: 1px solid gainsboro;
	list-style:none ;
	
}
#abox a{
	color: grey;
}
#abox a:hover{
	color: rgb(202,20,49);
}

li{
	list-style: none;
}

#page_ul a{
	color:black;
}



#head1{
	min-width: 1200px;
	height: 50px;
	padding: 10px 0;
}
#logo{
	float: left;
	width: 240px;
	height: 50px;
	margin-left: 50px;
}
#abox1{
	float: left;
}
#abox1 li{
	float: left;
	font-size: 18px;
	padding-right: 20px;
	line-height: 50px;
}
#abox1 a:hover{
	text-decoration: underline;
}


#righthead{
	float: right;
	width: 300px;
	height: 42px;

}
#search{
	width: 285px;
	height: 32px;
}
#search-kw{
	padding-left: 10px;
	width: 200px;
	height: 30px;
}
#search .button{
	    background-position: 0 -21px;
	 
	
}
.cang{
	width: 100%;
	height: 300px;
	position: absolute;
	z-index: 1;
	display: none;
	overflow: hidden;
	/*color: #717171;*/
	font: 13px/1 Arial, Helvetica, sans-serif;
	background:rgb(255,255,255);
	
}
.top_cang{
	
	width: 1200px;
	height: 56px;
	margin: 0 auto;
	line-height: 56px;
	
	
}
.bottom_cang{
	width: 1200px;
	margin: 0 auto;
	height: 220px;
}
.all_goods{
	line-height: 56px;
	width: 110px;
	height: 56px;
	float: left;
}
.types{
	width: 1090px;
	height: 56px;
	line-height: 56px;
	float: left;
}
.types li{
	margin-right: 30px;
	float: left;
}
.bottom_cang li{
	float: left;
	width: 171px;
	height: 200px;
	text-align:center;
	font
}
.top_cang a{
	/*color: rgb(165,153,153);*/
}
.top_cang a:hover{
	/*color: rgb(202,20,49);*/
}
.grid_price{
	/*color: red;*/
}
.bottom_cang img{
	margin-top:20px;
	width: 130px;
	margin-bottom: 18px;
}
.hr_10{
	width: 100%;
	height: 5px;
	background: rgb(234,234,234);
}
.g{
	/*color: #666;*/
    font-family: \5FAE\8F6F\96C5\9ED1,\5B8B\4F53;
	font-family: 'Tahoma',"Microsoft Yahei";
	width:1200px;
	height: 28px;
	margin: 0 auto;
}
.g a:hover{
	/*color: #000000;*/
}
.breadcrumb-area_fcn{
	height: 17px;
	line-height: 17px;
	margin-left: 1px;
	margin-top: 11px;
}
#hr_10_1{
	background-color:rgb(255,255,255) ;
}
#layout_1{
	margin: 0 auto;
	font: 12px/1.5 "Helvetica Neue",Helvetica,Arial,"Microsoft Yahei","Hiragino Sans GB","Heiti SC","WenQuanYi Micro Hei",sans-serif;
	font-family: 'Tahoma',"Microsoft Yahei";
	/*color: #999;*/
    
    vertical-align: top;
	height: 123px
}
.pro-cate-area{
	width: 1200px;
	height: 103px;
	border:1px solid #dedede;
	margin: 0 auto;

}
.clearfix li{
	float: left;
	margin-left: 0px;

}
.p-title{
	    
    margin-left: 44px;
	float: left;
}
.pro-cate-attr{
	width: 1198px;
	height: 51px;
	border-bottom: 1px solid #dedede;
	line-height: 51px;
	
}
.pro-cate-sort{
	width: 1198px;
	height: 51px;
	line-height: 51px;
}
.p-default{
	float: left;
}
.p-values{
	float: left;
}


.pro_list_clearfix{
	width: 1220px;
	
}
.pro_panels{
	float: left;
	width: 222px;
	margin: 0 20px 20px 0;
    border: 1px solid #dedede;
    height: 364px;
    position: relative;
    text-align: center;
    font-family: 'Tahoma',"Microsoft Yahei";
    overflow: hidden;

}
.pro_panels:hover{
	border:1px solid red;
}
.p_botton {
	text-align: center;
	width: 222px;
	height: 30px;
	border-top: 1px solid #dedede;
	cursor: pointer;
}
.p_botton a{
	color: rgb(224,29,32);
}
.p_botton a:hover .p_botton{
	background:rgb(224,29,32) ;
	color: ghostwhite;
}

.pro_panels .p_name a{
	color: #666;
	font: 12px/1.5 "Helvetica Neue",Helvetica,Arial,"Microsoft Yahei","Hiragino Sans GB","Heiti SC","WenQuanYi Micro Hei",sans-serif;
}.pro_panels .p_name span{
	height: 16px;
}
.pro_panels .p_name a:hover{
	color: rgb(224,29,32);
}
.pro_panels .p_img{
	width: 222px;
	height: 222px;
	padding-top: 38px;
    text-align: center;
}
.pro_panels img{
	width: 180px;
	height: 180px;
}
.p_name{
	line-height: 16px;
    padding: 0 20px;
    margin-bottom: 5px;
        min-height: 38px;
}
.p_price{
	color: #e01d20;
    line-height: 30px;
   font-size: larger;
}
#list-pager-36{
	clear: both;
	width: 226px;
	float: right;
}
#list-pager-36 li{
	width: 31px;
	height: 31px;
	float: left;
}

.pgNext.link.first.first-empty{
	width: 31px;
	height: 31px;
}
.pgNext.link.pre.pre-empty{
	width: 31px;
	height: 31px;
}
#hr_40{
	width: 100%;
	height: 40px;
	    /*color: #333;*/
}

#bottom img{
	width: 100%;
	/*height: 456px;*/
}

.naver ul li a{
	font-size: 16px;
    color: #3a3a3a;
}
.naver ul li a:hover{
	color: #e01d20;
}
.types ul li a{
	color: gray;
}
.types ul li a:hover{
	color: #e01d20;
}
.grid_title{
	color: gray;
}
.grid_price{
	color: #ca141d;
	margin-top: 8px;
}
.p-values ul li a{
	color: #999;
	display: inline-block;
	margin-right: 10px;
}
.p-values ul li a:hover{
	color: #e01d20;
}
.breadcrumb-area_fcn a{
	color: black;
	font: 12px/1.5 "Helvetica Neue",Helvetica,Arial,"Microsoft Yahei";
	display: inline-block;
	margin-right: 20px;
}

.breadcrumb-area_fcn a:hover{
	color: #e01d20;
	
}

.breadcrumb-area_fcn span{
	color: #3a3a3;
	font: 12px/1.5 "Helvetica Neue",Helvetica,Arial,"Microsoft Yahei";
	display: inline-block;
	margin-left: 20px;
}
.p-default ul li a{
	color: #999;
}
.p-default ul li a:hover{
	color: #e01d20;
	
}
.p-default{
	margin-right: 10px;
	margin-left: 10px;
}
.po.hover div{
	color: #e01d20;
}
#find_wrap {
	float: right;
	width: 302px;
	height: 32px;
	line-height: 30px;
	margin-top: 10px;
	border: 1px solid #eaeaea;
}
#find_bar {
	width: 245px;
	height: 30px;
	float: left;
}
#find_input {
	width: 245px;
	height: 30px;
	border: none;
	outline: none;
}
#find_but {
	width: 54px;
	height: 30px;
	text-align: center;
	float: left;
	font-size: 20px;
	font-weight: 900;
	cursor: pointer;
	border-left: 1px solid #F0F0F0;
	transition: all 3s;
	-webkit-transition: all 1s;
	-moz-transition: all 1s;
	-ms-transition: all 1s;
}
